body{
    font-family: 'Montserrat';
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
p{
    color:#8f8f8f;
}
h1{
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat-Bold';
    font-size: 1.5rem;
}
.container-fluid{
padding: 3% 15% 11%;
}
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
    
}
.icon:hover{
    color: #ff4c68;
    
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: 'Montserrat-light';
    font-size: 1.2rem;

}
.download-button{
    margin: 5% 3% 5% 0;
}
.titleimg{
    /* width: 25%; */
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}
#features{
    padding: 7% 15%;
    position: relative;
    background-color: white;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.t-dog{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}
@media (max-width:992px){
    .titleimg{
        
        transform: rotate(0);
        position: static;
    }
    #title{
        text-align: center;
    }

}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
.press-log{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;

}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing_col{
    padding: 3% 2%;
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    font-family:  'Montserrat-Black', sans-serif;
    color: #fff;
}
.btn{
    border-radius: 0%;
}
.cright{
    text-align: center;
}
.foot{
    padding:1%;
}
#footer{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
}
.botfoot{
    padding:1%
}